.label {
  margin-bottom: 5px;
}

.modalTitle {
  font-weight: 700 !important;
}

.modalHeader {
  border-bottom: 1px solid var(--mantine-color-gray-3);
  padding-bottom: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-md);
}

.modalContent {
  padding: var(--mantine-spacing-xs);
}

@media (min-width: 768px) {
  .modalContent {
    padding: var(--mantine-spacing-sm);
  }
}